PORT=5000
CORS_ORIGIN=http://localhost:5173
Client_ID=730e52c4-cfad-4f73-9618-8677020c5ec3
Client_Secret=eJUvG7OPqWFiCNFmfBagVDhk8zwXq45xlfsH1Ijf
MONGODB_URI=your_mongodb_connection_uri_here
JWT_SECRET=your_jwt_secret_here
